*{

}

body{
    font-family: 'Roboto', sans-serif;
    background: #EDEFF1BF;
    background-image: url('IMG/bg\ image.png');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    
}


#text-primary{
    color: #1EA1F2;
    font-family: Roboto;
    margin-top: -195px;
    padding-left: 340px;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 0em;   
}

/* Utility classes*/
#setterapp{
   color:  #1EA1F2;
   font-family: Roboto;
   font-size: 64px;
   font-weight: 900;
   line-height: 75px;
   letter-spacing: 0em;
   padding-left:150px ;
   padding-top: 25px;
}

#container{
    max-width: 500px;
    padding: 5px;
    padding-left: 340px;
}

.form-group{
    color: azure;
    margin-top: 15px;
    max-width: 500px;
}

.form-wrap p{
    text-align: left;
}



.btn1{
   background-color: #1EA1F2;
   color: #FFFFFF;
   width: 500px;
   height: 25px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 12.5px;
   margin-top: 30px;
}

.btn2{
    background-color: #1EA1F2;
    color: #FFFFFF;
    width: 400px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12.5px;
    margin-top: 30px;
 }
 




#text-primary2{
    color: #1EA1F2;
    font-family: Roboto;
    margin-top: -195px;
    padding-left: 340px;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 0em;   
}

/* Utility classes*/
#setterapp2{
   color:  #1EA1F2;
   font-family: Roboto;
   font-size: 64px;
   font-weight: 900;
   line-height: 75px;
   letter-spacing: 0em;
   padding-left:150px ;
   padding-top: 25px;
   
}

#container2{
    max-width: 500px;
    padding-top: 85px;
    padding-left: 340px;
}

.form-group2{
    color: azure;
    margin-top: 25px;
}

.form-wrap2{
    

}

.form-wrap p{
    text-align: left;
}

